PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/microciclo-futbol
JWT_SECRET=cambiar-esto-por-una-clave-larga-y-secreta
JWT_EXPIRES_IN=7d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
ANTHROPIC_API_KEY=
